@include mobile {
  html.ep-index, html.ep-index body {
    overflow: auto;
    height: auto;
  }
}
html.ep-index body {
  @extend .columns;
  @extend .is-marginless;

  #sources-panel {
    background: $light;
    min-height: auto;
    #sources-list {
      height: calc(100% - 40px);
      overflow-y: auto;
      padding-top: $block-spacing / 2;
      .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $text;
        padding: 10px 0;
        &:hover {
          background: $grey-lightest;
        }
        span:last-child {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .autocomplete-suggestions {
    color: $text;
    background: $body-background-color;
    border: 1px solid $border;
    border-top: 0;
    overflow: auto;
    strong {
      font-weight: bold;
      color: $danger;
    }
  }
  .autocomplete-suggestion {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: $size-6/2 $size-7;
  }
  .autocomplete-selected {
    color: $link-invert;
    background: $link;
  }

  .source-panel {
    @extend .is-relative;

    height: 100%;
    .source-actions {
      .level-left {
        width: calc(100% - 270px);
        .subtitle {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .level-right {
        button[disabled] {
          min-width: 50px;
        }
        .publish {
          margin-left: $block-spacing;
        }
      }
    }
    .progress {
      @extend .is-marginless;
      @extend .is-radiusless;
      position: absolute;
      display: none;
      height: 7px;
    }
    .source-content {
      background-color: black;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      //
      //position: absolute;
      //top: 102px;
      //bottom: 0;
      // or
      height: calc(100% - 102px);
      //
      display: flex;
      align-items: center;
      justify-content: center;
      canvas {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
