body#app.main {
  .autocomplete-suggestions {
    background: $black;
    border: 1px solid #999;
    border-top: 0;
    overflow: auto;
    strong {
      font-weight: bold;
      color: $alert-color;
    }
  }
  .autocomplete-suggestion {
    overflow: hidden;
    padding: 2px 5px;
    white-space: nowrap;
  }
  .autocomplete-selected {
    background: $body-background;
  }

  div#source-search {
    background: #1c1c1f;
    padding: 5px;
    input[type=text] {
      margin: 0;
    }
  }
  div#source-list {
    background: $black;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    ul, li {
      border-bottom: 1px solid #1c1c1f;
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .source-display-container {
    position: relative;
  }
  .source-display {
    @include grid-column(6);
    position: relative;
    .small-portrait & {
      @include grid-column(12);
    }
    h5 {
      position: absolute;
      left: 7px;
      top: 0px;
      right: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    div.source-preview {
      background-color: black;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 5px;
      top: 29px;
      right: 5px;
      bottom: 5px;
      overflow: hidden;
      div.slick-list, div.slick-track {
        height: 100%;
      }
      div.source-page {
        background-color: black;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
      }
      .loading-anim {
        background: url(images/loading-anim.svg) no-repeat center;
      }
    }
    div.source-actions {
      position: absolute;
      top: 0px;
      right: 5px;
      button[disabled] {
        opacity: 1;
        width: 65px;
      }
      z-index: 10;
    }
  }
  button#publish {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 40px;
    font-size: 20pt;
    padding: 0;
    margin: auto;
    z-index: 1000;
    .small-portrait & {
      width: 40px;
      height: 100px;
      margin: auto auto auto 10%;
      .hide-for-small-portrait {
        display: none;
      }
      .show-for-small-portrait {
        display: block;
      }
    }
    .show-for-small-portrait {
      display: none;
    }
  }
}
